<footer>
  <div class="row content-container ">
    <div class="col-md-4 ">
      <div class="row ">
        <div class="col-md-4 ">
          <p>Ứng dụng di động</p>
          <p>Thỏa thuận sử dụng</p>
          <p>Quy chế hoạt động</p>
          <p>Chính sách bảo mật</p>
        </div>
        <div class="col-md-4 ">
          <p>Lịch chiếu</p>
          <p>Phim</p>
          <p>Rạp</p>
          <p>Khuyến mãi</p>
        </div>
        <div class="col-md-4 ">
          <p>Blog điện ảnh</p>
          <p>Review phim</p>
          <p>Phiên bản di động</p>
          <p>FAQ</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="padding-bootstrap">
        <img class="circle-logo " src="./app/images/footer-logos/ddc.png ">
        <img class="circle-logo " src="./app/images/footer-logos/megags.png ">
        <img class="circle-logo " src="./app/images/footer-logos/cinestar.png ">
        <img class="circle-logo " src="./app/images/footer-logos/galaxy.png ">
        <img class="circle-logo " src="./app/images/footer-logos/bhd.png ">
        <img class="circle-logo " src="./app/images/footer-logos/msservice.png ">
        <img class="circle-logo " src="./app/images/footer-logos/123go.png ">
        <img class="circle-logo " src="./app/images/footer-logos/payoo.png ">
        <img class="circle-logo " src="./app/images/footer-logos/lotte.png ">
        <img class="circle-logo " src="./app/images/footer-logos/cjenm.png ">
        <img class="circle-logo " src="./app/images/footer-logos/laban.png ">
      </div>
    </div>
    <div class="col-md-2">
      <p>DOWNLOAD MOBILE APP</p>
      <div class="row ">
        <img class="mobile-platform-logo " src="./app/images/footer-logos/ios.png ">
        <img class="mobile-platform-logo " src="./app/images/footer-logos/android.png ">
      </div>
    </div>
  </div>
  <div class="line "></div>
  <div class="row content-container">
    <div class="col-md-1 ">
      <img class="vng-logo " src="./app/images/footer-logos/vng-icon.png ">
    </div>
    <div class="col-md-9 ">
      <p>123PHIM - SẢN PHẨM CỦA CÔNG TY CP DỊCH VỤ MẠNG VI NA - MỘT THÀNH VIÊN CỦA CÔNG TY CỔ PHẦN VNG</p>
      <p>Địa chỉ: 52 Nguyễn Ngọc Lộc, Phường 14, Quận 10, Tp Hồ Chí Minh</p>
      <p>Số ĐKKD: 0305418909, cấp lần đầu ngày 29/12/2007 – Sở KHĐT TP. HCM cấp</p>
    </div>
    <div class="col-md-2 ">
      <div class="padding-bootstrap">
        <img class="permission-logo " src="./app/images/footer-logos/permission.png ">
      </div>
    </div>
  </div>
</footer>