<div>
  <section ng-include="'app/views/main/navbar.html'"></section>
  <section ng-include="'app/views/main/content.html'"></section>
  <section ng-include="'app/views/main/footer.html'"></section>
</div>