<body ng-controller="navbarCtrl">
  <nav data-scroll-navbar class="navbar-default navbar-fixed-top" ng-class="{ navScrolldown: isScroll }">
    <div class="row nav-container" ng-class="{ navContainerScrolldown: isScroll }">
      <div class="col-md-7 box">
        <div class="nav-container" ng-class="{ navContainerScrolldown: isScroll }">
          <div class="nav-brand">
            <a href="#"><img src="./app/images/header-logos/123phim.png" ng-class="{ navBrandScrolldown: isScroll }"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#" class="nav-text" ng-class="{ navTextScrolldown: isScroll }">LỊCH CHIẾU</a></li>
            <li><a href="#" class="nav-text" ng-class="{ navTextScrolldown: isScroll }">PHIM</a></li>
            <li><a href="#" class="nav-text" ng-class="{ navTextScrolldown: isScroll }">RẠP</a></li>
            <li><a href="#" class="nav-text" ng-class="{ navTextScrolldown: isScroll }">BLOG ĐIỆN ẢNH</a></li>
            <li><a href="#" class="nav-text" ng-class="{ navTextScrolldown: isScroll }">KHUYẾN MÃI</a></li>
            <li><a href="#" class="nav-text" ng-class="{ navTextScrolldown: isScroll }">DANET</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 box">
        <div class="nav-container" ng-class="{ navContainerScrolldown: isScroll }">
          <login-button is-scroll="isScroll" class="login-button"></login-button>
          <dropdown-menu is-scroll="isScroll" class="location-dropbox"></dropdown-menu>
          <button class="button" ng-class="{ buttonScrolldown: isScroll }">MUA VÉ</button>
        </div>
      </div>
    </div>
  </nav>
</body>