footer {
	background-color: #363636;
	padding-left: 70px;
	padding-right: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
}

p {
	font-size: 12px;
	color: #808080;
}

img.mobile-platform-logo {
	width: 90px;
	height: 90px;
	margin-left: 10px;
}

img.circle-logo {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

img.vng-logo {
	width: 50px;
	height: 70px;
}

img.permission-logo {
	width: 130px;
	height: 50px;
}

.line {
	height: 0.5px;
	background-color: #4a4a4a;
}

.content-container {
	margin-top: 30px;
	margin-bottom: 10px;
}

.padding-bootstrap {
	margin-left: 50px;
}
