.navbar-default {
    background-color: white;
    border-bottom: 1px solid #f73921;
    padding-left: 70px;
    padding-right: 70px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.box {
    padding: 0;
    margin: 0
}

a {
    font-size: 16px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.nav-brand {
    margin-right: 20px;
}

.nav-text {
    font-size: 16px;
}

.button {
    background-color: #a8a7a6;
    align-items: center;
    border-radius: 2px;
    border-width: 0px;
    width: 180px;
    padding: 20px;
    color: white;
    font-size: 16px;
}

.button:hover {
    background-color: #f73921;
}

.login-button {
    margin-right: 10px;
}

.location-dropbox {
    display: inline-block;
    margin-right: 10px;
}

.navScrolldown {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.90);
    align-items: unset;
    margin-bottom: 0px;
}

.navContainerScrolldown {
    align-items: unset
}

.navBrandScrolldown {
    width: 40px;
    height: 40px;
}

.navTextScrolldown {
    font-size: 12px;
}

.buttonScrolldown {
    height: 40px;
    background-color: #f73921;
    border-radius: 0px;
    padding: 10px;
}