<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="app/libs/custom-dropdown-menu/dropdown-menu.css">
</head>

<body ng-controller="dropdownMenuCtrl">
  <div class="dropdown">
    <button ng-click="$ctrl.onClick()" ng-blur="$ctrl.onBlur()" class="dropbtn" ng-class="{ dropBtnScrolldown: $ctrl.isScroll }">
      <div class="dropbtn-container">
        <div>
          <p class="dropbtn-text">Hồ Chí Minh</p>
        </div>
        <div class="dropbtn-icon-container">
          <div class="dropbtn-icon" />
        </div>
      </div>
    </button>
    <div class="dropdown-content" ng-hide="$ctrl.isHideContent">
      <div ng-repeat="location in $ctrl.locations">
        <p class="content">{{location.name}}</p>
      </div>
    </div>
  </div>
</body>

</html>