.dropdown {
    display: block;
}

.dropbtn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.dropbtn {
    border-width: 1px;
    border-color: #eeeeee;
    border-radius: 3px;
    border-style: solid;
    background-color: white;
    width: 140px;
    height: 60px;
}

.dropbtn:hover {
    background-color: rgba(204, 204, 204, 0.6);
}

.dropbtn:active,
.dropbtn:focus {
    border: none;
    outline-width: 1px;
    outline-style: dashed;
    outline-color: #a8a7a6
}

.dropbtn-text,
.dropbtn-icon-container {
    margin: 0;
}

.dropbtn-text {
    font-size: 16px;
    color: #a8a7a6;
    text-align: center;
    margin-right: 10px;
}

.dropbtn-icon-container {
    width: 18px;
    height: 18px;
    border-width: 2px;
    border-color: #cccccc;
    border-radius: 3px;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbtn-icon {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #a8a7a6;
}

.dropdown-content {
    display: block;
    position: absolute;
    width: 180px;
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 15px;
    border-radius: 3px;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content:after,
.dropdown-content:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}

.dropdown-content:before {
    left: 145px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #a8a7a6;
    border-width: 8px;
}

.dropdown-content:after {
    left: 146px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #ffffff;
    border-width: 7px;
}

.content {
    color: black;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}

.content:hover {
    background-color: #60c5ef;
    color: white;
}

.dropBtnScrolldown {
    background-color: transparent;
    height: 38px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-radius: 0
}