<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="app/libs/login-button/login-button.css">
</head>

<body>
  <div ng-click="$ctrl.login()" class="loginbtn-container">
    <div ng-class="{ loginLineScrolldown: $ctrl.isScroll }" class="loginbtn-line"></div>
    <img ng-class="{ loginAvatarScrolldown: $ctrl.isScroll }" class="loginbtn-default-avatar" src="app/images/header-logos/default-avatar.png ">
    <p class="loginbtn-text ">Đăng nhập</p>
  </div>
</body>

</html>