.loginbtn-container {
    display: flex;
    align-items: center;
}

.loginbtn-container:hover {
    cursor: pointer;
}

.loginbtn-line {
    width: 1.5px;
    height: 60px;
    margin-right: 10px;
    background-color: #eeeeee;
}

.loginbtn-text {
    font-size: 14px;
    color: #a8a7a6;
    margin: 0;
    margin-right: 10px;
}

img.loginbtn-default-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.loginLineScrolldown {
    height: 38px;
}

img.loginAvatarScrolldown {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}